# #############################################################################
# This file is managed by Ansible. Any changes may be overwritten.
# #############################################################################

# Serve static content from {{ app_domain }}, *.{{ app_domain }}
# Content is read from {{ app_webroot }}

server {
  listen 80;

  server_name {{ app_domain }}, *.{{ app_domain }};

  root {{ app_webroot }};
  index index.html;

  location / {
    try_files $uri $uri/ =404;
  }
}

server {
  {% if app_domain_certs_exist|d(False) == True %}
  listen       443 ssl;
  {% else %}
  listen       443;
  {% endif %}

  server_name {{ app_domain }};

  root {{ app_webroot }};
  index index.html;

  {% if app_domain_certs_exist|d(False) == True %}
  ssl_certificate     {{ letsencrypt_dir }}/live/{{ app_domain }}/fullchain.pem;
  ssl_certificate_key {{ letsencrypt_dir }}/live/{{ app_domain }}/privkey.pem;
  {% endif %}

  location / {
    try_files $uri $uri/ =404;
  }
}

