# #############################################################################
# This file is managed by Ansible. Any changes may be overwritten.
# #############################################################################

#
# Blindly redirect all HTTP traffic to HTTPS
#

server {
  listen 80;

  server_name {{ app_domain }};

  return 301 https://$host$request_uri;
}

#
# Serve static content on {{ app_domain }} from {{ app_webroot }}
#

server {
  listen 443 ssl;

  server_name {{ app_domain }};

  root {{ app_webroot }};
  index index.html;

  ssl_certificate     {{ letsencrypt_dir }}/live/{{ app_domain }}/fullchain.pem;
  ssl_certificate_key {{ letsencrypt_dir }}/live/{{ app_domain }}/privkey.pem;

  location / {
    try_files $uri $uri/ =404;
  }
}

#
# Forward any requests to <user>.{{ app_domain }} to the appropriate
# local tunnel
#

server {
  listen 443 ssl;

  server_name  ~^(?<user>([^.-]+))\.{{ app_domain | replace(".", "\\.") }};

  client_max_body_size 100M;

  ssl_certificate     {{ letsencrypt_dir }}/live/{{ app_domain }}/fullchain.pem;
  ssl_certificate_key {{ letsencrypt_dir }}/live/{{ app_domain }}/privkey.pem;

  location / {

    {% for user in tunnel_users %}
    if ($user ~* "{{ user.name }}") {
      set  $tunnel_port  {{ user.unique_port }};
    }
    {% endfor -%}

    # Increase proxy_buffers size to 1Mb (accomodates unminified dev JS)
    proxy_buffers 192 16k;

    proxy_set_header  X-Real-IP  $remote_addr;
    proxy_set_header  X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header  X-Original-Host $http_host;
    proxy_set_header  Host callrail.test;
    proxy_redirect    http://callrail.test/ http://$http_host/;
    proxy_pass        http://127.0.0.1:$tunnel_port;

    access_log /var/log/nginx/tunnel.log;
  }
}

#
# Forward any requests to <user>-<application>.{{ app_domain }} to the appropriate
# local tunnel
#

server {
  listen 443 ssl;

  server_name  ~^(?<user>([^.-]+))\-(?<application>([^.]+))\.{{ app_domain | replace(".", "\\.") }};

  client_max_body_size 100M;

  ssl_certificate     {{ letsencrypt_dir }}/live/{{ app_domain }}/fullchain.pem;
  ssl_certificate_key {{ letsencrypt_dir }}/live/{{ app_domain }}/privkey.pem;

  location / {

    {% for user in tunnel_users %}
    if ($user ~* "{{ user.name }}") {
      set  $tunnel_port  {{ user.unique_port }};
    }
    {% endfor -%}

    # Increase proxy_buffers size to 1Mb (accomodates unminified dev JS)
    proxy_buffers 192 16k;

    proxy_set_header  X-Real-IP  $remote_addr;
    proxy_set_header  X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header  X-Original-Host $http_host;
    proxy_set_header  Host $application.test;
    proxy_redirect    http://$application.test/ http://$http_host/;
    proxy_pass        http://127.0.0.1:$tunnel_port;

    access_log /var/log/nginx/tunnel.log;
  }
}
